extends layouts/main.pug

block content
    .form-container
        form(action=routes.editProfile, method="post")
            label(for="profilePhoto") 프로필사진
            input(type="file", id="profilePhoto", name="profilePhoto", required=true)
            input(type="text", placeholder="이름", name="name", required=true)
            input(type="email", placeholder="이메일", nama="email", required=true)
            input(type="submit", value="프로필 업데이트")
    a.form-container__link(href=`/users${routes.changePassword}`) 비밀번호 변경       